.title {
    -fx-font-family: monospace;
    -fx-font-size: 80px;
    -fx-font-style: italic;
    -fx-fill: red;
}

.pane {
    -fx-background-color: #2375FF;
}

.button{
    -fx-background-color: gold;

}
.button:hover{
    -fx-background-color: orange;
}

.text {
    -fx-font-family: monospace;
    -fx-font-size: 20px;
    -fx-fill: darkred;
}